In [8]:
import pandas as pd

In [10]:
df = pd.DataFrame(columns=['Tanggal', 'Omset', 'Pengeluaran Operasional', 'Pengeluaran Non Operasional', 'Keuntungan', "Piutang",'Keterangan Piutang'])
df.to_excel("Laporan Keuangan.xlsx")

In [17]:
df = pd.read_excel("Laporan Keuangan.xlsx")
df

,Tanggal,Omset,Pengeluaran Operasional,Pengeluaran Non Operasional,Keuntungan,Piutang,Keterangan Piutang
0,2024-03-20,0,0,0,0,0,das
1,2024-03-20,0,0,0,1000,100,das
2,2024-03-20,300000,10000,20000,150000,4000,beli sayur

In [16]:
df['Laba Kotor'] = df["Omset"] - df["Pengeluaran Operasional"] - df["Pengeluaran Non Operasional"] 
df["Laba Bersih"] = df["Laba Kotor"] + df["Keuntungan"]

,Tanggal,Omset,Pengeluaran Operasional,Pengeluaran Non Operasional,Keuntungan,Piutang,Keterangan Piutang,laba_kotor
0,2024-03-20,0,0,0,0,0,das,0
1,2024-03-20,0,0,0,1000,100,das,0
2,2024-03-20,300000,10000,20000,150000,4000,beli sayur,270000